<div class="beta-banner-container">
	<div class="beta-banner">
		<div class="beta-message">
			<p class="translateMe">Busrides is in the beta phase of development. Regular site updates are made to enhance your experience!</p>
		</div>
		<div class="beta-feedback-link cta-open">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
				<path d="M0 0h24v24H0z" fill="none" />
				<path class="beta-feedback-icon"
					d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 12h-2v-2h2v2zm0-4h-2V6h2v4z" />
			</svg>
			<span class="translateMe">Provide feedback</span>
		</div>
	</div>
	<div class="feedback-banner">
		<section class="toggle-form">
			<div class="feedback-border"></div>
			<div class="formwrap">
				<div class="feedback-close">Close</div>
				<form id="feedback" method="post" role="form" data-toggle="validator" onsubmit="return false">
					<div class="feedback-form-group">
						<label for="comment" class="feedback-label translateMe">Feedback</label>
						<textarea name="comment" id="comment" autofocus="true"
							class="feedback-form-control required translateMeProp" data-translateMeProp="placeholder"
							placeholder="Your Answer" aria-label="Your Answer"
							data-error="Comment is required to submit" required></textarea>
						<div class="help-block with-errors"></div>
					</div>
					<div class="feedback-form-group" style="width:40%; display:inline-block;">
						<label for="email" class="feedback-label">Email (Optional)</label>
						<input type="email" id="email" name="email" class="feedback-form-control">
						<div class="help-block with-errors"></div>
					</div>
					<span style="float:right;"><button type="submit"
							class="btn btn-lg feedback-btn">Submit</button>
					</span>
				</form>
			</div>
			<div class="toggle-bg"></div>
		</section>
	</div>
</div>