.episodePage {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    background-color: var(--secondary-subtle-color);
}

.authorPage {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    backdrop-filter: blur(3px);
}

.avatar {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}

.episodePage .avatar {
    cursor: pointer;
}

.authorPage .avatar {
    margin-right: unset;
    border: solid 3px;
    background-color: white;
}

.episodePage .contentArea {
    max-width: 690px;
}

.authorPage .contentArea {
    padding: 5px 20px 0;
}

.name {
    line-height: 1.3;
    margin: 0 0 15px;
}

.episodePage .name {
    color: var(--link-color);
    letter-spacing: 0.2px;
    font-size: 1.125rem;
    font-weight: 400;
    cursor: pointer;
}

.authorPage .name {
    color: white;
    letter-spacing: 0.4px;
    font-size: 1.75rem;
    font-weight: 700;
}

.episodePage .secondaryAuthors {
    color: var(--primary-border-color);
    font-size: 0.875rem;
    margin-bottom: 20px;
}

.episodePage .secondaryAuthors a {
    color: inherit;
}

.bio {
    letter-spacing: 0.2px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.authorPage .bio {
    font-size: 0.938rem;
}

.socialDetails span {
    margin: 0 10px;
}

.socialDetails a:nth-of-type(2) {
    margin-left: 20px;
}

.episodePage svg path {
    fill: var(--primary-foreground-color);
}

.authorPage svg path {
    fill: white;
}

@media only screen and (max-width: 47rem){
    .episodePage {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .avatar {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 48rem){
    .episodePage {
        padding: 60px 40px;
    }

    .authorPage .contentArea {
        max-width: 700px;
    }

    .avatar {
        height: 100px;
        width: 100px;
        margin-right: 30px;
    }

    .episodePage .name {
        letter-spacing: 0.3px;
        font-size: 1.25rem;
    }

    .authorPage .name {
        letter-spacing: 0.5px;
        font-size: 2.25rem;
    }

    .episodePage .bio {
        margin-bottom: 15px;
    }

    .authorPage .bio {
        font-size: 1.125rem;
    }
}