.card {
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid var(--secondary-border-color);
    background-color: var(--secondary-background-color);
    box-shadow: var(--article-shadow-normal), 0 0 0 transparent;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: 1;
    cursor: pointer;
}

.card:first-of-type {
    width: 100%;
}

.card:last-of-type {
    flex: 1;
}

.card:hover {
    transform: translateY(-5px);
    -o-box-shadow: var(--article-shadow-hover), 0 0 0 transparent;
    box-shadow: var(--article-shadow-hover), 0 0 0 transparent;
}

.author {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid white;
    background-color: white;
}

.card:hover .author {
    -o-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 0 transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 0 transparent;
}

.image {
    position: relative;
    height: 200px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-position: center;
    background-size: cover;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
}

.content p {
    margin: 0;
}

.tag {
    color: var(--card-tag-color);
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.2px;
    height: 20.2px;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag:hover {
    text-decoration: underline;
    color: var(--card-tag-color);
}

.title {
    color: var(--titles-color);
    letter-spacing: 0.4px;
    line-height: 1.3;
    /* GCWeb theme fix */
    font-size: 1.95rem !important;
    font-weight: 400;
    margin: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 1.4rem;
}

.timeStamps {
    flex: 1;
    display: flex;
    align-items: flex-end;
    color: var(--titles-color);
    letter-spacing: 0.2px;
    font-size: 1.25rem;
}

.timeStamps span {
    padding: 0 10px;
}

@media only screen and (max-width: 48rem) {
    .card {
        width: 100%;
    }
}

@media only screen and (min-width: 48rem) {
    .card {
        height: 420px;
        width: calc(50% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    /* If there are only 3 cards (recommended episodes) then we override the first card being 100% width */
    .card:first-child:nth-last-child(3),
    .card:first-child:nth-last-child(3) ~ .card {
        width: calc(50% - 20px);
    }

    .image {
        height: 220px;
    }

    .author {
        top: 25px;
        left: 25px;
    }

    .title {
        font-weight: 600;
    }
}

@media only screen and (min-width: 64rem) {
    .card {
        width: calc(33.33333% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
    }

    .card:first-child:nth-last-child(3),
    .card:first-child:nth-last-child(3) ~ .card {
        width: calc(33.33333% - 40px);
    }
}