.title {
    text-align: center;
}

.contentBox {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}


.collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resource {
    width: 30%;
    margin: 15px 0;
}

.catalog img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border: 2px solid gray;
    padding: 10px;
    border-bottom-left-radius: 25px;
    box-sizing: border-box;
}

.catalog figcaption {
    margin-top: 10px;
}

.catalog p {
    font-size: 1rem;
    overflow-wrap: break-word;
}

.catalog a {
    color: inherit;
}

@media only screen and (max-width: 1100px) {
    .catalog img {
        height: 140px;
    }
}

@media only screen and (max-width: 750px) {

    .resourceType {
        text-align: center;
    }

    .collection {
        justify-content: center;
    }

    .resource {
        width: auto;
        max-width: 300px;
    }

    .catalog img {
        height: 200px;
    }

}