.card {
    display: flex;
    flex-direction: row;
    height: 125px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid var(--secondary-border-color);
    background-color: var(--secondary-background-color);
    box-shadow: var(--article-shadow-normal), 0 0 0 transparent;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: 1;
}

.card:hover {
    transform: translateY(-5px);
    -o-box-shadow: var(--article-shadow-hover), 0 0 0 transparent;
    box-shadow: var(--article-shadow-hover), 0 0 0 transparent;
}

.image, .title, .description, .timeStamps {
    cursor: pointer;
}

.image {
    height: 100%;
    width: 15%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background-position: center;
    background-size: cover;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.topContent {
    display: flex;
    flex-direction: row;
}

.bottomContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.content p {
    margin: 0;
}

.tag {
    color: var(--link-color);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.2px;
    line-height: 1.3;
    -webkit-line-clamp: 1;
    width: calc(100% - 40px);
    min-height: 20.2px;
    max-height: 20.2px;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    color: var(--titles-color);
    letter-spacing: 0.4px;
    line-height: 1.3;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
}

.description {
    /* flex: 2; */
}

.timeStamps {
    color: var(--titles-color);
    letter-spacing: 0.2px;
    font-size: 0.875rem;
    white-space: nowrap;
}

.timeStamps span {
    padding: 0 10px;
}

@media only screen and (min-width: 48rem) {
    .card {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .title {
        font-weight: 600;
    }
}

@media only screen and (min-width: 64rem) {
    .card {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
    }
}