.completed {
    width: 500px;
    max-width: 90%;
    margin: 60px auto;
}

.completed img {
    width: 100%;
    border: solid var(--transparent-background-color) 6px;
    border-radius: 3px;
    box-sizing: border-box;
}

.completed p {
    margin: 5px;
}

.completed div {
    display: flex;
    justify-content: space-around;
}

.completed .socialButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 5px;
    margin: 0 5px;
    border-radius: 3px;
    background-color: indigo;
    border: 2px solid rgb(127 127 127 / 3%);
    background-color: var(--secondary-background-color);
    box-shadow: var(--article-shadow-normal), 0 0 0 transparent;
}

.completed .socialButton svg {
    fill: var(--titles-color);
}