.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.episodeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 20px 20px 20px;
}

.loadMoreButton {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 40px;
    user-select: none;
    color: var(--titles-color);
    background-color: var(--background-color);
    box-shadow: 0 2px 4px var(--button-shadow-color-normal), 0 0 0 transparent;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.loadMoreButton:hover {
    -o-box-shadow: 0 4px 8px var(--button-shadow-color-hover), 0 0 0 transparent;
    box-shadow: 0 4px 8px var(--button-shadow-color-hover), 0 0 0 transparent;
}

@media only screen and (min-width: 48rem) {
    .episodeList {
        max-width: 1200px;
    }
}

@media only screen and (min-width: 80rem) {
    .episodeList {
        padding: 60px 0 40px 0;
    }
}