.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.episodeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 20px 20px 20px;
}

.loader {
    width: 100%;
    margin-bottom: 75px;
}

@media only screen and (min-width: 48rem) {
    .episodeList {
        max-width: 1200px;
    }
}

@media only screen and (min-width: 80rem) {
    .episodeList {
        padding: 60px 0 40px 0;
    }
}

@media only screen and (max-width: 800px) {
    .episodeList {
        padding: 70px 20px 20px 20px;
    }
}

@media only screen and (max-width: 355px) {
    .episodeList {
        padding: 70px 0 20px 0;
    }
}