.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.episodeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 20px 20px 20px;
}

.loadMoreButton {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 15px 30px;
    margin-bottom: 50px;
    border-radius: 40px;
    user-select: none;
    color: var(--titles-color);
    background-color: var(--secondary-background-color);
    box-shadow: 0 2px 4px var(--button-shadow-color-normal), 0 0 0 transparent;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.loadMoreButton:hover {
    -o-box-shadow: 0 4px 8px var(--button-shadow-color-hover), 0 0 0 transparent;
    box-shadow: 0 4px 8px var(--button-shadow-color-hover), 0 0 0 transparent;
}

.loader {
    width: 100%;
    margin-bottom: 75px;
}

@media (min-width: 768px) {
    .episodeList {
        width: 660px;
    }
}
@media (min-width: 992px) {
    .episodeList {
        width: 900px;
    }
}
@media (min-width: 1200px) {
    .episodeList {
        width: 1100px;
    }
}

@media only screen and (min-width: 80rem) {
    .episodeList {
        padding: 25px 0 40px 0;
    }
}

@media only screen and (max-width: 800px) {
    .episodeList {
        padding: 25px 20px 20px 20px;
    }
}

@media only screen and (max-width: 355px) {
    .episodeList {
        padding: 25px 0 20px 0;
    }
}