.searchBar {
    display: flex;
    margin-bottom: 30px;
    position: relative;
}

.input {
    font-size: 2em;
    flex: 1;
    padding-right: 50px;
    border: none;
    border-bottom: solid var(--primary-foreground-color) 2px;
}
.input:focus {
    outline: none;
}

.searchIcon {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 10px;
}

.clearSearch {
    position: absolute;
    right: 0;
    bottom: -20px;
    cursor: pointer;
}