.searchBar {
    display: flex;
    margin-bottom: 30px;
    position: relative;
}

.input {
    flex: 1;
    padding-right: 50px;
    margin: 0 20px;
    font-size: 2em;
    color: var(--primary-foreground-color);
    border: none;
    border-bottom: solid var(--primary-foreground-color) 2px;
    background-color: transparent;
}
.input:focus {
    outline: none;
}

.searchIcon {
    position: absolute;
    right: 20px;
    top: 0;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
}

.searchIcon path {
    fill: var(--primary-foreground-color);
}

.clearSearch {
    position: absolute;
    right: 20px;
    bottom: -20px;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .input {
        max-width: 100%;
        padding: unset;
        margin: unset;
    }

    .searchIcon {
        right: 0;
    }

    .clearSearch {
        right: 0;
    }
}