.searchBar {
    display: flex;
    margin-bottom: 30px;
    position: relative;
}

.input {
    flex: 1;
    padding-right: 50px;
    margin: 0 20px;
    font-size: 2em;
    color: var(--primary-foreground-color);
    border: none;
    border-bottom: solid var(--primary-foreground-color) 2px;
    background-color: transparent;
}
.input:focus {
    outline: none;
}

.searchIcon {
    position: absolute;
    right: 20px;
    top: 0;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
}

.searchIcon path {
    fill: var(--primary-foreground-color);
}

.clearSearch {
    position: absolute;
    right: 20px;
    bottom: -20px;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .searchBar {
        max-width: 90%;
        margin: 0 auto 30px auto;
        border-radius: 22px;
        background-color: white;
    }

    .input {
        font-size: 1.25em;
        color: black;
        max-width: 100%;
        padding: 7px 15px;
        margin: 0 35px 0 0;
        border: none;
        box-sizing: border-box;
    }

    .searchIcon {
        right: 0;
        background-color: var(--busrides-red);
        border-radius: 0 22px 22px 0;
    }

    .searchIcon path {
        fill: white;
    }

    .clearSearch {
        right: 3px;
        bottom: -25px;
        color: white;
    }
}