.header {
    display: flex;
    justify-content: center;
    background-color: var(--transparent-background-color);
    width: 100%;
    padding: 20px 50px 10px 50px;
    box-sizing: border-box;
}

.headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
}

.menuIcon {
    display: none;
    fill: white;
}

.navItems {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.navItems:first-of-type {
    flex: 1;
}

.navItems li:not(:last-child), .logo {
    margin-right: 35px;
}

.logo {
    width: auto;
    max-width: 150px;
    height: 25px;
    object-fit: contain;
    cursor: pointer;
}

.navItem {
    color: var(--menu-titles-color);
    font-size: 1.16rem;
    font-weight: 400;
    border: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
}
.navItem:hover {
    text-decoration: underline;
}

.navItem svg path {
    fill: var(--menu-titles-color);
}

.searchBar {
    display: flex;
}

.searchBar input {
    border: none;
    padding: 5px;
    padding-left: 8px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: .75rem;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
}

.searchBar a {
    background-color: white;
    padding: 3px;
    padding-right: 5px;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
}

.searchBar svg path {
    fill: black;
}

.mobileMenu {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 50px 20px;
    background-color: var(--transparent-background-color);
    box-sizing: border-box;
    z-index: 10;
}

.mobileMenu .navItems li {
    margin-bottom: 15px;
}

.closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--primary-foreground-color);
    fill: white;
}

@media only screen and (max-width: 35rem) {
    .header {
        padding: 20px 25px 10px 25px;
        align-items: flex-start;
    }

    .menuIcon {
        display: inline;
    }

    .navItems li:not(:last-child), .logo {
        margin-right: 0;
    }

    .navItems:first-of-type {
        display: none;
    }

    .mobileMenu .navItems {
        display: inline;
    }

    .navItems:nth-of-type(2) li:last-of-type {
        display: none;
    }

    .searchBar input {
        display: none;
    }

    .searchBar a {
        background-color: unset;
        padding: 0;
        border: none;
    }

    .searchBar svg path {
        fill: white;
    }
}