.header {
    display: flex;
    justify-content: center;
    background-color: var(--transparent-background-color);
    width: 100%;
    padding: 20px 50px 10px 50px;
    box-sizing: border-box;
}

.headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.navItems {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.navItems li:not(:last-child) {
    margin-right: 35px;
}

.logo {
    width: auto;
    max-width: 150px;
    height: 25px;
    object-fit: contain;
}

.navItem {
    color: var(--menu-titles-color);
    font-size: 1.16rem;
    font-weight: 400;
    border: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}
.navItem:hover {
    text-decoration: underline;
}

.navItem svg path {
    fill: var(--menu-titles-color);
}