.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 365px;
    background-position: center;
    background-size: cover;
}

@media only screen and (min-width: 48rem) {
    .hero {
        min-height: 450px;
    }
}

@media only screen and (min-width: 80rem){
    .hero {
        min-height: 565px;
    }
}