.hero {
    min-height: 365px;
    position: relative;
    background-color: black;
}

.hero h1 {
    color: white;
    text-align: center;
    margin: 0 0 15px;
    padding: 0 20px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.5px;
    /* GCWeb theme fix */
    border-bottom: 0;
}

.contentContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.backgroundContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: black;
}

.backgroundBlur {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

@media only screen and (min-width: 48rem) {
    .hero {
        min-height: 450px;
    }

    .hero h1 {
        margin-bottom: 10px;
        font-size: 5rem;
        letter-spacing: 0.8px;
    }
}

@media only screen and (min-width: 80rem){
    .hero {
        min-height: 565px;
    }
}