.promoBar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--background-color);
}

/* GCWeb theme fix */
.promoBar p {
    margin: revert;
    font-size: 14px;
}

.promoBar a {
    text-align: center;
    color: var(--link-color);
    text-decoration: none;
}

.logo {
    width: auto;
    height: auto;
    max-width: 50vw;
    max-height: 120px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.description {
    color: white;
    text-align: center;
    /* GCWeb theme fix */
    font-size: 16px;

    margin: 0 0 25px 0;
}

@media only screen and (min-width: 48rem) {
    .description {
        /* GCWeb theme fix */
        font-size: 20px;
    }
}