.mainContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

.searchNavContainer {
    padding-top: 20px;
    background-color: var(--transparent-background-color);
}

.resultsPage {
    flex: 1;
    align-self: center;
    width: 100%;
    max-width: 1500px;
    box-sizing: border-box;
}

.resultsNav {
    list-style-type: none;
    display: flex;
    color: white;
    width: 100vw;
    margin: 0;
    padding: 0 0 0 20px;
    box-sizing: border-box;
}

.resultsNav li {
    padding: 0 3px 5px 3px;
}

.resultsNav li:not(:last-child) {
    margin-right: 20px;
}

.resultsNav li.active {
    font-weight: bold;
    border-bottom: solid var(--busrides-red) 3px;
}

.loader {
    width: 100%;
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 50px;
}

.metaBar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: hsl(0deg 0% 53% / 28%);
    box-sizing: border-box;
}

.metaBar p {
    margin: 0;
}

.metaBar button {
    font-size: .85rem;
    padding: 5px 10px;
    border: solid var(--transparent-background-color) 1px;
    border-radius: 3px;
    background-color: var(--csps-light-grey);
}

.mainColumn {
    flex: 4;
}

.sidePanel {
    flex: 1;
    margin: 0 20px;
}

.titleContainer {
    position: relative;
}

.title {
    border-bottom: solid var(--primary-foreground-color) 2px;
    margin: 20px;
}

.sortContainer {
    padding: 12px;
}

.viewPrefContainer {
    display: flex;
    flex-direction: column;
}

.viewPrefContainer h2 {
    margin-bottom: 5px;
}

.viewPrefContainer a:not(:last-child) {
    margin-bottom: 6px;
}

.spacer {
    margin-right: 10px;
}

.viewPrefContainer svg path {
    fill: var(--primary-foreground-color);
}

.viewPrefContainer .active svg path {
    fill: red
}