.mainContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

.resultsPage {
    flex: 1;
    align-self: center;
    padding: 25px 20px;
    width: 100%;
    max-width: 1500px;
    box-sizing: border-box;
}

.loader {
    width: 100%;
}

.resultsContainer {
    display: flex;
}

.mainColumn {
    flex: 4;
}

.sidePanel {
    flex: 1;
    margin: 0 20px;
}

.titleContainer {
    position: relative;
}

.title {
    border-bottom: solid var(--primary-foreground-color) 2px;
    margin: 20px;
}

.searchResultsInfo {
    position: absolute;
    top: 25px;
    left: 20px;
}

.viewPrefContainer {
    position: absolute;
    right: 20px;
    top: 0;
    display: flex;
    align-items: center;
}

.spacer {
    padding: 0 5px;
}

.viewPrefContainer svg path {
    fill: var(--primary-foreground-color);
}

.viewPrefContainer .active svg path {
    fill: red
}