.shareButtons {
    position: absolute;
    height: 100%;
}

.sticky {
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
}

.progress {
    position: absolute;
}

.progress path:nth-of-type(2) {
    stroke: var(--primary-subtle-color);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 31px;
    height: 31px;
    margin: 0 25px;
    background-color: var(--secondary-background-color);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
    box-shadow: 0 2px 4px var(--button-shadow-color-normal), 0 0 0 transparent;
}

.button:hover {
    box-shadow: 0 4px 8px var(--button-shadow-color-hover), 0 0 0 transparent;
}

.button svg {
    fill: var(--titles-color);
}

@media only screen and (max-width: 64rem) {
    .shareButtons {
        position: fixed;
        bottom: 0;
        height: auto;
        width: 100%;
        left: 0;
        background-color: var(--transparent-background-color);
        z-index: 6;
    }

    .sticky {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;
        padding-bottom: calc(env(safe-area-inset-bottom) + 8px);
    }
}

@media only screen and (min-width: 65rem){
    .shareButtons {
        right: 55px;
    }

    .button {
        width: 40px;
        height: 40px;
        margin: 0 0 20px;
    }
}

@media only screen and (min-width: 80rem){
    .shareButtons {
        right: 175px;
    }
}

@media only screen and (min-width: 90rem){
    .shareButtons {
        right: 200px;
    }
}