.title {
    border-bottom: solid var(--primary-foreground-color) 2px;
}

.radioButtons {
    display: flex;
    flex-direction: column;
}

/* The radioButton */
.radioButton {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default radio button */
.radioButton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--csps-medium-grey);
    border-radius: 50%;
}
  
/* On mouse-over, add a grey background color */
.radioButton:hover input ~ .checkmark {
    background-color: var(--primary-border-color);
}

/* When the radio button is checked, add a blue background */
.radioButton input:checked ~ .checkmark {
    background-color: var(--busrides-red);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioButton input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radioButton .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--secondary-background-color);
}

@media only screen and (max-width: 800px) {
    .title {
        border: none;
        margin-top: 0;
        margin-bottom: 5px;
    }
}