/* Global Styles */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

:root {
    --background-color: #fff;
    --secondary-background-color: #fff;
    --primary-foreground-color: #4a4a4a;
    --secondary-foreground-color: #000;
    --primary-subtle-color: #04aeee;
    --secondary-subtle-color: #f4f8fd;
    --titles-color: #333;
    --link-color: #122f48;
    --primary-border-color: #9b9b9b;
    --secondary-border-color: #f0f8ff;
    --article-shadow-normal: 0 10px 10px rgba(0, 0, 0, 0.08);
    --article-shadow-hover: 0 4px 60px 0 rgba(0, 0, 0, 0.2);
    --transparent-background-color: #122f48;
    --footer-background-color: #293951;
    --submenu-shadow-color-opacity: 0.25;
    --button-shadow-color-normal: hsla(0, 0%, 42.4%, 0.2);
    --button-shadow-color-hover: hsla(0, 0%, 42.4%, 0.3);
    --mdc-theme-primary: #4a4a4a;
    --menu-titles-color: #ffffff;

    --csps-purple: rgb(63, 42, 86);
    --csps-grey: rgb(78, 91, 115);
    --csps-light-grey: #EDEFF1;
    --csps-medium-grey: #E5E7EA;
    --csps-coral: #DA797A;
}

@media (prefers-color-scheme:dark) {
    :root {
        --background-color: #050e15;
        --secondary-background-color: #1f272e;
        --primary-foreground-color: #BCC5CE;
        --secondary-foreground-color: #fff;
        --primary-subtle-color: #10d0ea;
        --secondary-subtle-color: #141920;
        --titles-color: #BCC5CE;
        --link-color: #5DAFD6;
        --primary-border-color: #1d1d1d;
        --secondary-border-color: #0f0f0f;
        --article-shadow-normal: 0 4px 5px 5px rgba(0, 0, 0, 0.1);
        --article-shadow-hover: 0 4px 5px 10px rgba(0, 0, 0, 0.1);
        --transparent-background-color: #0a1b29;
        --footer-background-color: #131a25;
        --submenu-shadow-color-opacity: 0.55;
        --button-shadow-color-normal: rgba(10, 10, 10, 0.5);
        --button-shadow-color-hover: rgba(10, 10, 10, 0.5);
        --mdc-theme-primary: #e3e3e3;
    }
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--primary-foreground-color);
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    cursor: pointer;
}

.tippy-tooltip[data-animation=fade][data-state=hidden] {
    opacity: 0
}

.tippy-iOS {
    cursor: pointer !important;
    -webkit-tap-highlight-color: transparent
}

.tippy-popper {
    pointer-events: none;
    max-width: calc(100vw - 10px);
    transition-timing-function: cubic-bezier(.165, .84, .44, 1);
    transition-property: transform
}

.tippy-tooltip {
    position: relative;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.4;
    background-color: #333;
    transition-property: visibility, opacity, transform;
    outline: 0
}

.tippy-tooltip[data-placement^=top]>.tippy-arrow {
    border-width: 8px 8px 0;
    border-top-color: #333;
    margin: 0 3px;
    transform-origin: 50% 0;
    bottom: -7px
}

.tippy-tooltip[data-placement^=bottom]>.tippy-arrow {
    border-width: 0 8px 8px;
    border-bottom-color: #333;
    margin: 0 3px;
    transform-origin: 50% 7px;
    top: -7px
}

.tippy-tooltip[data-placement^=left]>.tippy-arrow {
    border-width: 8px 0 8px 8px;
    border-left-color: #333;
    margin: 3px 0;
    transform-origin: 0 50%;
    right: -7px
}

.tippy-tooltip[data-placement^=right]>.tippy-arrow {
    border-width: 8px 8px 8px 0;
    border-right-color: #333;
    margin: 3px 0;
    transform-origin: 7px 50%;
    left: -7px
}

.tippy-tooltip[data-interactive][data-state=visible] {
    pointer-events: auto
}

.tippy-tooltip[data-inertia][data-state=visible] {
    transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11)
}

.tippy-arrow {
    position: absolute;
    border-color: transparent;
    border-style: solid
}

.tippy-content {
    padding: 5px 9px
}