{{!--
This template is used for the index page.
It can be used also as the home page or the default page.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

<div class="main-wrap">
  {{!--Special header.hbs partial to generate the <header> tag--}}
  {{> header background=@site.cover_image}}
  {{!-- Inject styles of the hero image to make it responsive --}}
  {{> hero background=@site.cover_image}}
  <div class="m-hero__content" data-aos="fade-down">
    <img class="translateMe_logo" src="/content/images/logos/BusRidesPublicationLogo-en.png" alt="busrides-trajetsenbus logo"/>
    <p class="m-hero-description bigger translateMe">Bite sized learning about digital technology and government</p>
    {{#if @labs.subscribers}}
    <a href="{{@site.url}}/subscribe" class="m-button filled translateMe">Subscribe</a>
    {{/if}}
  </div>
  </section>
  
  <main>
    <div class="l-content">
      <div class="l-wrapper" data-aos="fade-up" data-aos-delay="300">
        <div class="l-grid centered">
          {{!-- The tag below iterates over all the posts --}}
          {{> "loop"}}
        </div>
      </div>
      {{!-- Links to Previous/Next posts --}}
      {{pagination}}
    </div>
  </main>
</div>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/home.js"}}"></script>
{{/contentFor}}
