


/* ****************************************************
 * 12 days of christmas
 * ***************************************************/
$black:black;
$near-black:#252525;
$dark-bluish-grey:#465959;
$white:white;
$near-white:#eaeaea;
$standard-grey:#bdbdbd;







/* ****************************************************
 * General
 * ***************************************************/

 $font-color:$black;
 $grey-border:$standard-grey;
 $content-background:$white;
 $box-shadow:$near-black;
