@import "./../../themes/_theme";

.content {
    position: fixed;
    background-color: $content-background;
    transition: height 1s ease-in-out;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    border-radius: 12px 12px 0 0;
    overflow: auto;
    z-index: 100;

    &.open{
        height: 80%;
        box-shadow: 0 0 20px 3px $box-shadow;
    }
}

.contentBackgroundCover {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    &.hide{
        display: none;
    }
}


.contentContainer {
    width: 90%;
    max-width: 750px;
    padding-bottom: 60px;
    white-space: pre-wrap;
    margin: 0 auto;
}

.closeButton {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 1px 6px;
    background: none;
    border: none;
    user-select: none;
    cursor: pointer;
}
